<section class="contact-up section-margin section-padding">
  <div class="container">
    <div class="c-wapp">
      <a href="https://docs.masqueradejs.com" class="effect-ajax">
            <span class="hiring">
                Take the stage
            </span>
        <span class="career">Quick Start a new MasqueradeJS project...</span>
      </a>
    </div>
  </div>
</section>
