<!-- Wait Loader -->
<div class="wait-loader">
  <div class="loader-inner">
    <div class="loader-circle">
      <div class="loader-layer"></div>
    </div>
  </div>
</div>
<!-- // Wait Loader -->
